<div class="game-iframe-new">
  <h3>&#9658; New Games</h3>
  <ul>
   <li><a href="https://www.playfiddlebops.com/steal-a-brainrot/" title="Steal a Brainrot"><img src="/new-images/steal-a-brainrot.webp"><div class="title">Steal a Brainrot</div></a></li>
   <li><a href="https://www.playfiddlebops.com/99-nights-in-the-forest/" title="99 Nights in the Forest"><img src="/new-images/99-nights-in-the-forest.webp"><div class="title">99 Nights in the Forest</div></a></li>
   <li><a href="https://www.playfiddlebops.com/grow-a-garden/" title="Grow a Garden"><img src="/growagarden-min.jpeg"><div class="title">Grow a Garden</div></a></li>
   <li><a href="https://www.playfiddlebops.com/incredibox/" title="Incredibox"><img src="/Incredibox.png"><div class="title">Incredibox v1 - v9</div></a></li>
  </ul>
</div>