---
import OptimizedImage from './OptimizedImage.astro';
import { useTranslations, getLocaleFromLangAttr, getLocalizedPath } from '../i18n/utils';

interface Props {
  lang?: string;
}

const { lang = 'en' } = Astro.props as Props;
const locale = getLocaleFromLangAttr(lang);
const t = useTranslations(locale);

// Game data for this section
const games = [
  { slug: 'fiddlebops-fix/', title: 'FiddleBops Fix', thumbnail: '/new-images/thumbnails/fiddlebops-fix.png' },
  { slug: 'fiddlebops-polos/', title: 'FiddleBops Polos', thumbnail: '/new-images/thumbnails/fiddlebops-polos.png' },
  { slug: 'incredibox/', title: 'Incredibox v1-v9', thumbnail: '/new-images/thumbnails/incredibox.png', alt: 'Incredibox' },
  { slug: 'fiddlebops-but-dandys-world/', title: "Fiddlebops But Dandy's World", thumbnail: '/new-images/thumbnails/fiddlebops-but-dandys-world.png' },
  { slug: 'fiddlebops-sprunkbop/', title: 'Fiddlebops Sprunkbop', thumbnail: '/new-images/thumbnails/fiddlebops-sprunkbop.png' },
  { slug: 'fiddlebops-but-sprunki/', title: 'FiddleBops but Sprunki', thumbnail: '/new-images/thumbnails/fiddlebops-but-sprunki.png' },
  { slug: 'fiddlebops-sprunki/', title: 'Fiddlebops Sprunki', thumbnail: '/new-images/thumbnails/fiddlebops-sprunki.png' },
  { slug: 'fiddlebops-sprunksters-remix/', title: 'Fiddlebops Sprunksters remix', thumbnail: '/new-images/thumbnails/fiddlebops-sprunksters-remix.png' },
  { slug: 'incredibox-yellow-colorbox/', title: 'Incredibox Yellow Colorbox', thumbnail: '/new-images/thumbnails/incredibox-yellow-colorbox.png' },
  { slug: 'incredibox-cool-as-ice/', title: 'Incredibox Cool As Ice', thumbnail: '/new-images/thumbnails/incredibox-cool-as-ice.png' },
];
---

        <section class="games">
            <div class="container">
                 <div class="game-grid">
      {games.map((game) => (
                   <div class="game game--compact game--mod">
          <a href={getLocalizedPath(game.slug, locale)} title={game.alt || game.title}>
                        <div class="game-logo game-l-2">
              <OptimizedImage 
                src={game.thumbnail} 
                alt={game.alt || game.title} 
                loading="lazy" 
                width={300}
                height={169}
              />
                         </div>
            <p class="game__title--ellipsis">{game.title}</p>
          </a>
                    </div>
      ))}
                 </div>
            </div>
        </section>
