---
import type { GameRating } from '@/types';

export interface Props {
  rating: GameRating;
}

const { rating } = Astro.props;

// 生成星级评分
const fullStars = Math.floor(rating.score);
const hasHalfStar = rating.score % 1 !== 0;
const emptyStars = rating.maxScore - fullStars - (hasHalfStar ? 1 : 0);
---

<div class="stars">
  <!-- 满星 -->
  {Array.from({ length: fullStars }, (_, i) => (
    <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #ffd223; --hoverColor: #ffd223; fill: #ffd223;" class="svelte-bpq1qa">
      <path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path>
    </svg>
  ))}
  
  <!-- 空星 -->
  {Array.from({ length: emptyStars }, (_, i) => (
    <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #9E9E9E;--hoverColor: #9E9E9E;fill: #9E9E9E;" class="svelte-bpq1qa">
      <path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path>
    </svg>
  ))}
  
  <!-- 评分文本 -->
  {rating.score}/{rating.maxScore} ({rating.votes} votes)
</div>