---
import { useTranslations, getLocaleFromLangAttr, getLocalizedPath } from '../i18n/utils';

interface Props {
  lang?: string;
}

const { lang = 'en' } = Astro.props as Props;
const locale = getLocaleFromLangAttr(lang);
const t = useTranslations(locale);
---

<div class="game-iframe-pop">
  <h3>&#9658; {t('game.popularGames', 'Popular Games')}</h3>
  <ul>
    <li>
      <a href={getLocalizedPath('sprunki-clicker/', locale)} title="Sprunki Clicker">
        <img src="/sprunki-clicker.png" alt="Sprunki Clicker" loading="lazy" width="150" height="150">
        <div class="title">Sprunki Clicker</div>
      </a>
    </li>
    <li>
      <a href={getLocalizedPath('sprunki-phase-8/', locale)} title="Sprunki Phase 8">
        <img src="/sprunki-phase-8.png" alt="Sprunki Phase 8" loading="lazy" width="150" height="150">
        <div class="title">Sprunki Red Sun</div>
      </a>
    </li>
    <li>
      <a href={getLocalizedPath('60s-burger-run/', locale)} title="60 Seconds Burger Run">
        <img src="/60s-burger-run.png" alt="60 Seconds Burger Run" loading="lazy" width="150" height="150">
        <div class="title">60 Seconds Burger Run</div>
      </a>
    </li>
    <li>
      <a href={getLocalizedPath('/', locale)} title="Fiddlebops">
        <img src="/tw.jpg" alt="Fiddlebops" loading="lazy" width="150" height="150">
        <div class="title">fiddlebops</div>
      </a>
    </li>
  </ul>
</div>
